<nz-layout style="height: 100%;">
  <nz-header>
    <a href="./">
      <img style="height: 100%; float: left; padding: 10px 0; margin-left: -25px;" src="../assets/icons/logo-white.png" alt="NexPay logo">
    </a>
    <user-login style="float:right"></user-login>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="220px" nzTheme="dark">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item>
          <span nz-icon nzType="bank" nzTheme="fill"></span>
          <span>Contracts</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="control"></span>
          <span>Admin</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <div style="height: 100%; padding: 10px; overflow-y: scroll;">
        <router-outlet></router-outlet>
      </div>
      <nz-footer style="display: inline-flex; width: 100%; justify-content: center; align-items: center;">
        <page-footer></page-footer> 
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>